<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_header(title,links)">
	<!-- Common styles and scripts -->
	<title th:replace="${title}">The awesome application</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
	<link rel="icon" th:href="@{/images/bootstrap/core-img/favicon.ico}">
	<link rel="stylesheet" th:href="@{/style.css}">
	
</head>